body{
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}
.header{
  width: 100%;
  height: 120px;
  background-color:red;
}
.header--one__all{
  height: 60px;
  display: flex;
  align-items: flex-start;
  border-bottom: 1.5px solid white;
}
.header--one{
  display:flex;
  flex-direction: row;
  height:80%;
  width: 280px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 0;
  align-items: center;
}
.header--one:hover{
  border-bottom: 4px solid white;
}
.header--img{
  width: 30%;
  height: 50%;
}
.header--img img{
  width: 100%;
  height: 100%;
}
.header--title{
  display: flex;
  align-items:center;
  color: white;
  font-size:12px;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.header--title__news h1{
  font-size: 25px;
  font-weight: 400;
}
.header--title__mundo h1{
  font-size: 18px;
  font-weight: 400;
}
.header--title__I{
  width: 2px;
  height: 25px;
  background-color: white;
}

.header__menu{
  width:10%;
}
.header__menu ul{
  display: none;
  list-style: none;
  padding: 0px;
  position: absolute;
  text-align: left;
  margin: 0;
  width: 100%;
  background-color: rgb(34, 34, 34);
}
.header__menu:hover ul, ul:hover{
  display: block;
}
.header__menu li{

  margin-left:20px;
  padding: 0.75rem 0;
  border-bottom: 2px solid #3F3F42
}
.header__menu li a{
  text-decoration: none;
  color:white;
}
.header__menu li a:hover{
  text-decoration: underline;
  color: white;
}
.header__menu--profile{
  margin-top: 8px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
.header__menu--profile img{
  width: 40px;
  height: 35px;
  margin-left: 10px;
}
.header__menu--profile p{
  margin: 0;
  color: white;
}
.header--two__all{
  display: flex;
}
.header--two{
  display: flex;
  overflow: scroll;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 90%;
}
.header--two::-webkit-scrollbar{
  -webkit-appearance:none;
}
.header--container{
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  height: 80%;
}
.header--container h2{
  color: white;
  font-size:18px;
}
.header--container__categorias{
  width: 120px;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content:center;
  align-items: center;
}
.header--container__categorias:hover{
  border-bottom:  5px solid white;
}
.header--extra{
  font-size: 12px;
  background-color: none;
  margin-top: -1000px;
  color:#BA2C1F;
}
.main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

}
.main--principales{
  cursor: pointer;
  height: 500px;
  width: 92.5%;

}
.main--principales__img{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items:flex-end;

}
.main--principales__img img{
  width: 100%;
  height: 100%;
}
.main--principales__about{
  width: 100%;
}
.main--principales__information{
  margin-top: 5px;
}
.main--principales__information a{
  text-decoration: none;
}
.main--principales__information p{
  margin-top: 5px;
  margin-bottom: 5px;
}
.main--principales__information h3{
  font-size: 25px;
  color:black;
  font-family: ReithSerif,Helvetica,Arial,sans-serif;
  font-style: normal;
  line-height: 1.875rem;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.main--principales__about:hover a {
    text-decoration: underline;
    color: black;
}
.main--principales__span{
  width: 95%;
  margin-top: 18px;
  margin-bottom: 15px;
  border-top: 1px solid #EBEDEF;
}
.main--principales__span:hover{
  text-decoration: underline;
}

.main--notices{
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  border-top: 1px solid #EBEDEF;
  margin-bottom: 10px;
  cursor: pointer;
}
.main--notices__one,
.main--notices__two{
  width: 95%;
}
.main--notices__img{
  height: 100%;
}
.main--notices img{
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 65px;
}
.main--notices__information{
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 0.932rem;
  line-height: 1.25rem;
}
.main--notices__information h3{
  font-weight: 300;
  font-style: normal;
  font-family: ReithSerif,Helvetica,Arial,sans-serif;
}
.main--notices__information time{
  margin-top: -2px;
}

.main--notices:hover h3 {
    text-decoration: underline;
    color: black;
}
.destacamos--notice{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.destacamos--notice__main{
  display: flex;
  flex-direction:column;
  align-items: center;
}
.destacamos--notice__main--img{
  width: 95%;
}
.destacamos--notice__main--img img{
  width: 100%;
}
.destacamos--notice__plus{
  margin-top: 10px;
  width: 95%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.destacamos--notice__plus--img{
  width: 400px;
}
.destacamos--notice__plus--img img{
  width: 100%;
  margin: 15px 5px 5px 5px;
}
.destacamos--notice__plus--title{
  margin-left: 10px;
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction:column;
}
.inprocess{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}
.inprocess img{
  width: 90%;
}
.redes{
  margin-bottom: 20px;

}
.redes--title__container{
  width: 90%;
  height: 60px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction:row;
  border-left: 1px solid #ABB2B9 ;
  border-top: 1px solid #EBEDEF;
  margin-top: 20px;
  margin-bottom: 10px;
}
.redes--title__container a:hover{
  text-decoration: underline;
}
.redes--title__container img{
  width: 40px;
  height: 40px;
  margin-left: 40px;
  margin-right: 50px;
}
.redes--title__container a{
  margin-top: -25px;
  text-decoration: NONE;
  color: black;
  font-size: 19px;
}
.more--container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.more--container__one{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more--container__two{
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more--container__item{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: -40px;
  align-items: center;
}
.more--container__item p{
  font-size: 40px;
  color:rgb(184, 0, 0);
  margin-right:40px;
  margin-left: 5px;
  width: 20px;
}
.more--container__item a{
  font-size: 20px;
  text-decoration: none;
  color: #222222;
}












.footer{
  background-color: red;

}
.footer--one{
  display:flex;
  flex-direction: row;
  height: 40%;
  width: 300px;
  margin-left: 5px;
  cursor: pointer;
}
.footer--one:hover{
  border-bottom: 5px solid white;
}
.footer--img{
  margin-top: 10px;
  width: 95px;
  height: 40px;
}
.footer--img img{
  width: 100%;
  height: 80%;
  margin-top:2.5px;
}
.footer--title{
  display: flex;
  align-items:center;
  color: white;

}
.footer--title__news{
  font-size:12px;
  margin-right: 15px;
}
.footer--title__I{
  width: 2px;
  height: 25px;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
}
.footer--title__mundo{
  display: flex;
  font-size:9px;
}
.footer--two{
  background-color: #222222;
  color: white;
  height: 300px;
}
.footer--two a{
  color: white;
  font-size: 18px;
}
.footer-two--about__reference{
    width: 187px;
    height: 50px;
    display:flex;
    align-items: center;
    cursor: pointer;
}
.footer-two--about__reference a{
  margin-left: 10px;
    text-decoration: none;
}
.footer-two--about__reference--one{
    width: 100%;
    height: 60px;
    display:flex;
    align-items: center;
    border-bottom: 2px solid #3F3F42;
    cursor: pointer;
}
.footer-two--about__reference--one a {
    margin-left: 10px;
  text-decoration: none;
}
.footer-two--about__reference:hover a{
  text-decoration: underline;
}
.footer-two--about__reference--one:hover a{
  text-decoration: underline;
}
.footer-two--about{
  display: flex;
  border-bottom: 2px solid #3F3F42;
}
.footer--final a{
  text-decoration: none;
}
.footer--final:hover a{
  text-decoration: underline;
}



@media only screen and (min-width: 780px){
  .header{
  height: 140px;
  }
  .header--one{
    margin-left: 40px;
  }
  .header--img{
    margin-top: 5px;
  }
  .header__menu{
    width:0;
  }
  .header__menu:hover ul, ul:hover{
    display: none;
  }
  .header__menu li a{
    text-decoration: none;
  }

  .header__menu--profile img{
    display: none;
  }
  .header--two button{
    margin-left: -60px;
    background-color:green;
    border: none;
  }
  .header--container{
    width: 1250px;
    margin-left: 40px;
    border-bottom: 1px solid white;
  }
  .header--container h2{
    color: white;
    font-size:12px;
  }
  .header--container__categorias{
    width: 120px;
  }
  .header--extra{
    width:100%;
    margin-top: -15px;
    color:white;
    display: flex;
  }
  .header--extra h2:hover{
    border-bottom:5px solid white;
  }
  .header--extra h2{
    font-size: 13px;
    margin-left: 55px;
  }
  .main{
    display: flex;
    align-items:  center;
    flex-direction: column;
  }
  .main--principales{
    width: 75%;
    display: flex;
    flex-direction: row;
    height: 300px;
    align-items:center;
  }
  .main--principales__about{
    height: 90%;
  }
  .main--principales__img{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main--principales__img img{
    width: 90%;
    height: 90%;
  }
  .main--notices{
    width: 75%;
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: space-between;
    align-items: center;
  }
  .main--notices__img{
    margin-top: -40px;

    width: 95%;
    height: 115px;
  }
  .main--notices img{
    margin-top: 0;
    width: 100%;
    height: 100%;
  }

  .main--notices__one{
    width: 75%;
    height: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .main--notices__two{
    width: 75%;
    height: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;

  }
  .main--notices__information{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-size: 0.8rem;
    line-height: 1.25rem;
  }
  .main--notices__information h3{
    font-family: ReithSerif,Helvetica,Arial,sans-serif;
  }
   .destacamos--title{
     display: flex;
     flex-direction: row-reverse;
     justify-content: center;
     align-items: center;
    }
    .destacamos--title__hr{
      width:60%;
    }
    .destacamos--title__title{
      margin-right: 60px;
    }


  .destacamos--notice{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
      width: 100%;
  }
  .destacamos--notice__main{
    display: flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
  }
  .destacamos--notice__main--title{
    width: 250px;
    font-size: 18px;

  }
  .destacamos--notice__main:hover h2{
    text-decoration: underline;
  }
  .destacamos--notice__main--img{
    margin-left: 20px;
    margin-right: 20px;
    width: 450px;
  }
  .destacamos--notice__main--img img{
    width: 100%;
  }
  .destacamos--notice__plus{
    height: 310px;
    margin-top: 10px;
    width: 250px;;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    cursor: pointer;
  }
  .destacamos--notice__plus:hover h2{
    text-decoration: underline;
  }
  .destacamos--notice__plus--img{
    width: 90%;
    height: 100px;
  }
  .destacamos--notice__plus--img img{
    width: 100%;
    height: 100%;
    margin: -40px 5px 0 5px;
  }
  .destacamos--notice__plus--title{
    margin-top: -150px;
    margin-left: 5px;
    font-size: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction:column;
  }
  .redes--title{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
   }
   .redes--title__hr{
     width:60%;
   }
   .redes--title__title{
     margin-right: 60px;
   }
   .redes--title__redes{
     display: flex;
     flex-direction:row;
     justify-content: center;
     align-items: center;
   }
   .redes--title__container{
     width: 250px;
     height: 150px;
     margin-left: 10px;
     display: flex;
     flex-direction:column;
     justify-content: space-around;
     border-left: 1px solid #ABB2B9 ;
     border-top: 1px solid #EBEDEF;
     margin-top: 20px;
     margin-bottom: 10px;
     cursor: pointer;
   }
   .redes--title__container img{
     width: 80px;
     height: 80px;
     margin-left: 40px;
     margin-right: 50px;
   }
   .redes--title__container a{
     margin-left: -150px;
     margin-top:45px;
     text-decoration: NONE;
     color: black;
     font-size: 19px;
   }
   .more--container{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
   }
   .more--container__one{
     width: 35%;
     margin-right:55px;
   }
   .more--container__two{
     width: 35%;
   }
  .footer--one{
    margin-left: 20px;
  }
  .footer--two{
    height: 230px;
  }
  .footer-two--about__reference--one {
    width: 98%;
      margin-left: 20px;
  }
  .footer-two--about__reference {
    width: 300px;
    }
  .footer-two--about {
    display: flex;
    flex-direction: column;
  }
  .footer-two--about__references--one{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
  }
  .footer-two--about__references--two{
    display: flex;
    flex-direction: row;
      margin-left: 20px;
  }
  .destacamos--main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
